.navbar {
    background-color: #626F53;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid #E0EEC6;
    position : fixed;
    width:100%;
    left:0;top:0
  }
  
  .navbar a {
    float: right;
    font-size: 36px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 50px;
  }

.sublink {
  color: #E0EEC6;
}
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus, .mainlink {
    background-color: #E0EEC6;
    color:#63372C;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  