.bookinfo {

    overflow:hidden;
    transition:             height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        -moz-transition:    height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        -ms-transition:     height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        -o-transition:      height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
        -webkit-transition: height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}