.page {
    background-color:#626F53;
    margin: 0;
    color: white;
}
.navigation {
font-size: 40px;
margin: 10px;
padding: 30px;
background-color:bisque;
border-radius: 25px;
box-shadow: 15px -15px teal;
}
.slogan-container {
    margin-right: 100px;
}
.intro-container {
display: grid;
grid-template-columns: 1fr 1fr;
}
.intro {
font-size: 120px;
padding:15px;
border-radius: 25px;;
color: white;
}
.welcome {
color: #E0EEC6;
font-size: 40px;
}

ul {
list-style-type: none;
}
li {
margin-bottom: 10px;
}
.rectangle {
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 0px;
    
    background-color:#3A3042;
    z-index: -1;
}
.book-container {
    text-align:center;
}
.book {
font-size: 30px;
background-color:rgba(0, 0, 0, 0.2);
border-radius: 25px;
display:inline-block;
padding: 10px;
}